<div class="row" ng-controller="view3">
    <link rel="stylesheet" href="styles/style.css">
    <div class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Reported Issues</span>
                <div class="actions">
                    <a class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                </div>
                <div class="float-right">
                    <div id="datatable_filter" class="dataTables_filter">
                        <input type="search" class="input-field col s12" ng-model="searchTable" placeholder="Enter Keywords Here" class="validate">
                    </div>
                </div>
            </div>
            <!-- <div>
                <p>Sort Type: {{ sortType }}</p>
                <p>Sort Reverse: {{ sortReverse }}</p>
                <p>Search Query: {{ searchFish }}</p>
            </div> -->
            <table class="bordered highlight responsive-table">
                <thead>
                    <tr>
                        <th>
                            <a ng-click="sortType = 'report_date'; sortReverse = !sortReverse">Date
                            <i ng-show="sortType == 'report_date' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
                            <i ng-show="sortType == 'report_date' && sortReverse" class="material-icons">keyboard_arrow_up</i>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortType = 'company'; sortReverse = !sortReverse">Customer
                            <i ng-show="sortType == 'company' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
                            <i ng-show="sortType == 'company' && sortReverse" class="material-icons">keyboard_arrow_up</i>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortType = 'email'; sortReverse = !sortReverse">Email
                            <i ng-show="sortType == 'email' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
                            <i ng-show="sortType == 'email' && sortReverse" class="material-icons">keyboard_arrow_up</i>
                            </a>
                        </th>
                        <th>
                            <a ng-click="sortType = 'description'; sortReverse = !sortReverse">Info
                            <i ng-show="sortType == 'description' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
                            <i ng-show="sortType == 'description' && sortReverse" class="material-icons">keyboard_arrow_up</i>
                            </a></th>
                        <th>
                            <a ng-click="sortType = 'status'; sortReverse = !sortReverse">Status
                            <i ng-show="sortType == 'status' && !sortReverse" class="material-icons">keyboard_arrow_down</i>
                            <i ng-show="sortType == 'status' && sortReverse" class="material-icons">keyboard_arrow_up</i>
                            </a>
                        </th>
                        <th>By</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in reports | orderBy:sortType:sortReverse | filter: searchTable">
                        <td>{{ report.report_date }}</td>
                        <td>{{ report.company }}</td>
                        <td>{{ report.email }}</td>
                        <td>{{ report.description }}</td>
                        <td>{{ report.status ? 'Open' : 'Closed' }}</td>
                        <td>{{ report.name.first }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
